In [2]:
import sqlite3

In [3]:
#Connecting the sqlite data base
connection = sqlite3.connect('example.db')
print(connection)

<sqlite3.Connection object at 0x0000028025584220>

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute('''
Create Table If Not Exists Employee(
               id Integer Primary key,
               name Text  not null,
               department Text 
               )
''')
connection.commit()

In [6]:
cursor.execute('''
Select * from Employee
''')

In [10]:
cursor.execute('''
INSERT INTO Employee(id,name,department)
        values('66','Sahith','IT')
               
''')
connection.commit()

IntegrityError: UNIQUE constraint failed: Employee.id

In [12]:
cursor.execute('''
INSERT INTO Employee(id,name,department)
        values('70','Raju','IT')
               
''')
cursor.execute('''
INSERT INTO Employee(id,name,department)
        values('67','Manoj','AIML')
               
''')
cursor.execute('''
INSERT INTO Employee(id,name,department)
        values('68','Bob','CSE')
               
''')
cursor.execute('''
INSERT INTO Employee(id,name,department)
        values('69','Alice','Civil')
               
''')
connection.commit()

In [14]:
cursor.execute('''SELECT * from Employee''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(66, 'Sahith', 'IT')
(67, 'Manoj', 'AIML')
(68, 'Bob', 'CSE')
(69, 'Alice', 'Civil')
(70, 'Raju', 'IT')

In [15]:
cursor.execute('''
DELETE from Employee
               where name = 'Manoj'
''')
connection.commit()

In [16]:
cursor.execute('SELECT * from Employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(66, 'Sahith', 'IT')
(68, 'Bob', 'CSE')
(69, 'Alice', 'Civil')
(70, 'Raju', 'IT')

In [20]:
cursor.execute('''
DELETE from Employee 
               where name = 'Alice'
''')
connection.commit()

In [22]:
cursor.execute('''
INSERT INTO Employee(id,name,department)
               values('67','Manoj','It')
''')

In [25]:
cursor.execute('SELECT * from Employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(66, 'Sahith', 'IT')
(67, 'Manoj', 'It')
(68, 'Bob', 'CSE')
(70, 'Raju', 'IT')

In [26]:
# Working with a database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

In [27]:
cursor.execute('''
CREATE TABLE If Not Exists SALES(
          id Integer Primary key,
          product Text Not null,
          Date Text Not null,
          price Integer Not null 
               )
''')
connection.commit()

In [34]:
sales_data = [
    (100 , "Car","25-06-24",4000),
    (101 , "Benz","26-06-24",5000),
    (102 , "Tesla","26-06-24",6000),
    (103 , "Audi","26-06-24",7000)
]
cursor.executemany('''
 INSERT INTO SALES(id,product,Date,price)
                   values(?,?,?,?)
''',sales_data)
connection.commit()

In [35]:
cursor.execute('SELECT * from SALES')
rows = cursor.fetchall()
for row in rows:
    print(row)

(100, 'Car', '25-06-24', 4000)
(101, 'Benz', '26-06-24', 5000)
(102, 'Tesla', '26-06-24', 6000)
(103, 'Audi', '26-06-24', 7000)