In [1]:
import sqlite3

In [2]:
#Connecting the sqlite data base
connection = sqlite3.connect('example.db')
print(connection)

<sqlite3.Connection object at 0x0000021FF0655E40>

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute('''
Create Table If Not Exists Employee(
               id Integer Primary key,
               name Text  not null,
               department Text 
               )
''')
connection.commit()

In [5]:
cursor.execute('''
Select * from Employee
''')

In [7]:
cursor.execute('''
INSERT INTO Employee(id,name,department)
        values('61','Sahith','IT')
               
''')
connection.commit()

In [8]:
# cursor.execute('''
# INSERT INTO Employee(id,name,department)
#         values('70','Raju','IT')
               
# ''')
# cursor.execute('''
# INSERT INTO Employee(id,name,department)
#         values('67','Manoj','AIML')
               
# ''')
# cursor.execute('''
# INSERT INTO Employee(id,name,department)
#         values('68','Bob','CSE')
               
# ''')
# cursor.execute('''
# INSERT INTO Employee(id,name,department)
#         values('69','Alice','Civil')
               
# ''')
# connection.commit()

IntegrityError: UNIQUE constraint failed: Employee.id

In [9]:
cursor.execute('''SELECT * from Employee''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(61, 'Sahith', 'IT')
(66, 'Sahith', 'IT')
(68, 'Bob', 'CSE')
(70, 'Raju', 'IT')

In [10]:
cursor.execute('''
DELETE from Employee
               where name = 'Manoj'
''')
connection.commit()

In [18]:
cursor.execute('''
SELECT * FROM Employee
WHERE name = 'Bob'
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

id = rows[0]
print(id)

(68, 'Bob', 'CSE')
(68, 'Bob', 'CSE')

In [ ]:
cursor.execute('SELECT * from Employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(66, 'Sahith', 'IT')
(68, 'Bob', 'CSE')
(69, 'Alice', 'Civil')
(70, 'Raju', 'IT')

In [ ]:
cursor.execute('''
DELETE from Employee 
               where name = 'Alice'
''')
connection.commit()

In [ ]:
cursor.execute('''
INSERT INTO Employee(id,name,department)
               values('67','Manoj','It')
''')

In [ ]:
cursor.execute('SELECT * from Employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(66, 'Sahith', 'IT')
(67, 'Manoj', 'It')
(68, 'Bob', 'CSE')
(70, 'Raju', 'IT')

In [ ]:
# Working with a database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE If Not Exists SALES(
          id Integer Primary key,
          product Text Not null,
          Date Text Not null,
          price Integer Not null 
               )
''')
connection.commit()

In [ ]:
sales_data = [
    (100 , "Car","25-06-24",4000),
    (101 , "Benz","26-06-24",5000),
    (102 , "Tesla","26-06-24",6000),
    (103 , "Audi","26-06-24",7000)
]
cursor.executemany('''
 INSERT INTO SALES(id,product,Date,price)
                   values(?,?,?,?)
''',sales_data)
connection.commit()

In [ ]:
cursor.execute('SELECT * from SALES')
rows = cursor.fetchall()
for row in rows:
    print(row)

(100, 'Car', '25-06-24', 4000)
(101, 'Benz', '26-06-24', 5000)
(102, 'Tesla', '26-06-24', 6000)
(103, 'Audi', '26-06-24', 7000)