# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
set1 = set(range(1,11))
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
set1.add(11)
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
set1 = set(range(1,6))
set2 = {2,4,6,8,10}
print(set1)
print(set2)
intersection_set = set1.intersection(set2)
union_set = set1.union(set2)
difference_set = set1.difference(set2)
synmetric_set = set1.symmetric_difference(set2)
print("Union :",union_set)
print("Intersection :",intersection_set)
print("Difference :",difference_set)
print("Synmetric :",synmetric_set)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
Union : {1, 2, 3, 4, 5, 6, 8, 10}
Intersection : {2, 4}
Difference : {1, 3, 5}
Synmetric : {1, 3, 5, 6, 8, 10}

In [6]:
squares_set = set(x**2 for x in range(1,11))
print(squares_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [7]:
set1 = set(range(1,11))
new_set = set(x for x in set1 if x%2==0)
print(new_set)

{2, 4, 6, 8, 10}

In [9]:
set1 = set(range(1,11))

while set1:
    set1.pop()
    print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [11]:
set1 = {2,4,6,8,10}
set2 = {2,6,10,14,18}
set1.symmetric_difference_update(set2)
print(set1)

{18, 4, 8, 14}

In [12]:
set1 = {(1,2),(3,4),(1,2)}
print(set1)

{(1, 2), (3, 4)}

In [13]:
for i in set1:
    print(i)

(1, 2)
(3, 4)

In [14]:
for i in set1:
    for j in i:
        print(j)

1
2
3
4