Tuples are type of lists but here the tuples are immutable means once a tuple is created it cannot be changed

In [1]:
#Creating a tuple
typ = () #This is an empty tuple
print(typ)
print(type(typ))

()
<class 'tuple'>

In [2]:
#Creating a tuple using tuple method
empty_tuple = tuple()
print(type(empty_tuple))

<class 'tuple'>

We can add either similar data types or different data types into a tuple below is the example adding some elements into the tuple

In [3]:
tuple1 = (1,2,3,4,5) #Tuple with same data type
tuple2 = ("Sahith",1,55.5) #Tuple with different data type
print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5)
('Sahith', 1, 55.5)

Type conversion from list to tuple and tuple to list
below code is the example for it

In [4]:
tup1 = tuple([1,2,3,4,5]) #Converting a list to tuple
lst1 = list((1,2,3,4,5)) #Converting a tuple to list

print(type(tup1))
print(type(lst1))

<class 'tuple'>
<class 'list'>

Accesing and slicing of a tuple

In [11]:
numbers = (1,2,3,4,5)
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[0:])
print(numbers[:-1])

1
2
3
4
(1, 2, 3, 4, 5)
(1, 2, 3, 4)

In [12]:
print(numbers[::2])

(1, 3, 5)

Here are some of the basic operations that are applicable on tuples

In [15]:
numbers

(1, 2, 3, 4, 5)

In [16]:
words = ("One","two","three","four","five")

In [17]:
numbers_words = numbers + words #Tuple concatenation
print(numbers_words)

(1, 2, 3, 4, 5, 'One', 'two', 'three', 'four', 'five')

In [18]:
numbers_multiplied = numbers * 3

In [19]:
print(numbers_multiplied)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

Let us look into the immutable nature of tuples
Once the elements are given in a tuple the  elements cannot be modified

In [21]:
lst = [1,2,3,4,5]
print(lst)
lst[1] = "Sahith"
print(lst)

tup = (1,2,3,4,5)
print(tup)
# tup[1] = "Sahith"  ->> This will generate an error as we cannot modify the elements in a tuple
print(tup)

[1, 2, 3, 4, 5]
[1, 'Sahith', 3, 4, 5]
(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

Packing and unpacking a tuple

In [22]:
#Packing a tuple
packed_tuple = 66 , "Sahith" , 9.34
print(packed_tuple)
print(type(packed_tuple))

(66, 'Sahith', 9.34)
<class 'tuple'>

In [24]:
#Unpacking a tuple
roll_no , name , cgpa = packed_tuple
print(roll_no)
print(name)
print(cgpa)

66
Sahith
9.34

In [25]:
#Unpacking a tuple as a list
#i.e we are going to use * operator here
tple = (1,2,3,4,5,6)
a,*b,c = tple
print(a)
print(b)
print(c)

1
[2, 3, 4, 5]
6

So now lets look into the concept of nested tuples

In [28]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])
print(nested_tuple[0][2])
print(nested_tuple[1][2])
print(nested_tuple[2][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
3
6
9