# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
tuple1 = tuple(range(1,11))
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
print(tuple1[0])
print(tuple1[len(tuple1)-1])
print(tuple1[len(tuple1)//2])

1
10
6

In [9]:
print(tuple1[0:3])
print(tuple1[-3:])
print(tuple1[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [14]:
matrix = ((1,2,3),(4,5,6),(7,8,9))

for i in range(3):
    for j in range(3):
        print(str(matrix[i][j]) + " ",end="")
    print()

1 2 3
4 5 6
7 8 9

In [15]:
tup1 = (1,2,3)
tup2 = (4,5,6)
result = tup1 + tup2
print(result)

(1, 2, 3, 4, 5, 6)

In [16]:
nums = (1,1,2,2,3,1,5)
print(nums)
one_count = nums.count(1)
one_index = nums.index(1)
print(one_count)
print(one_index)

(1, 1, 2, 2, 3, 1, 5)
3
0

In [19]:
packed_tuple = 1,2,3,4,5
a,b,c,d,e = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [20]:
lst = list(range(1,6))
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

In [21]:
newtuple = (1,2,3,4,5)
print(newtuple)
lst = list(newtuple)
lst.append(6)
print(lst)
newtuple = tuple(lst)
print(newtuple)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [22]:
string = "Sahith"
string_tuple = tuple(string)
print(string_tuple)
combined_string = ''.join(string_tuple)
print(combined_string)

('S', 'a', 'h', 'i', 't', 'h')
Sahith